.mail {
    width: 100%;
    min-width: 30rem;
    /* height: 31rem; */
    height: 12rem;
    box-shadow: 0.1rem 0 5rem var(--color-light);
    border-radius: var(--border-radius-1);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    overflow: hidden;
    /* background-color: var(--color-white); */
    transition: height 0.3s;
}

.al {
    position: fixed;
    top: -4rem;
    left: 1rem;
    z-index: 2000;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0.5rem;
    transition: all 0.5s ease-in-out;
}

.mail h2 {
    width: 100%;
    text-align: center;
    padding: 1rem;
    border-bottom: 2px solid var(--color-light);
}

.mail .premier,
.mail .b {
    width: 100%;
    padding: var(--card-padding);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.mail .b {
    margin-top: 2rem;
    border-top: 2px solid var(--color-light);
    gap: 2rem;
}